*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
Open_tES.X/html/
Open_tES.X/nbproject/private/
Open_tES.X/nbproject/Package-*.bash
Open_tES.X/build/
Open_tES.X/nbbuild/
Open_tES.X/dist/
Open_tES.X/nbdist/
Open_tES.X/nbactions.xml
Open_tES.X/nb-configuration.xml
Open_tES.X/funclist
Open_tES.X/nbproject/Makefile-*
Open_tES.X/disassembly/
*.map

